body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #333;
    color: white;
    width: 200px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

.sidebar h1 {
    margin-bottom: 20px;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px 0;
    cursor: pointer;
    text-align: center;
}

.sidebar li:hover{
    color: black;
    background-color: white;
}

.content {
    padding: 20px;
    margin-left: 220px; 
}

.header {
    margin-bottom: 20px;
    height: 10vh;
    width: 98%;
    background-color: #f0f0f0;
    border: 5px;
    padding: 1em;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.33% - 40px); 
    box-sizing: border-box;
    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
    color: #333;
}

.statistics {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-top: 20px; 
    width: calc(50% - 20px); 
    float: left;
    box-sizing: border-box;
}

.chart {
    overflow-x: auto; 
}

.chart table {
    width: 100%;
    border-collapse: collapse;
}

.chart th,
.chart td {
    padding: 10px;
    border: 1px solid #ddd;
}

.chart th {
    background-color: #333;
    color: white;
}

.chart tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.card-2 {
    width: calc(50% - 20px); 
    float: left;
    margin-top: 20px; 
    box-sizing: border-box;
    margin-left: 1em;
    height: 36vh;
}

.card-2 ul li{
    text-align: left;
    padding: 0.8em;
}

@media screen and (max-width: 768px) {
    .statistics,
    .card-2 {
        width: calc(100% - 20px); 
        float: none;
    }
}

@media screen and (max-width: 768px) {
    .header{
        height: 15vh;
    }

    .sidebar {
        width: 100%;
        height: auto;
        float: none;
    }

    .content {
        margin-left: 0;
    }

    .card {
        width: calc(50% - 40px); 
    }
}